<h1>Join Super Handshake!</h1>
<input id="first_name" class="hasDefault half_width" type="text" default="First Name *"/>
<input id="last_name" class="hasDefault half_width" type="text" default="Last Name *"/>
<input id="password" class="hasDefault full_width" type="text" default="*****"/>
<input id="email" class="hasDefault full_width" type="text" default="email@domain.com *"/>
<input id="company" class="hasDefault half_width" type="text" default="Company Name"/>
<input id="position" class="hasDefault half_width" type="text" default="Position"/>
<input id="address" class="hasDefault full_width" type="text" default="Address"/>
<input id="url" class="hasDefault full_width" type="text" default="Url"/>
<input id="phone" class="hasDefault half_width" type="text" default="Phone Number"/>
<input id="fax" class="hasDefault half_width" type="text" default="Fax"/>
<textarea id="description" class="hasDefault full_width" type="text" default="A Little Description..."> </textarea>
<button id="submit" class="full_width" class="pointerCursor">Submit</button>
<p class="tinytext">Fields with (*) are required</p>
