<div id="logo"> </div>
<h1>Login to Codename Y</h1>
<input id="email" type="text" default="email@domain.com"/>
<input id="password" type="text" default="*****"/>
<button id="submit" class="pointerCursor">Submit</button>
<p class="tinytext">Click <a href="/create.php">here</a> if you do not already have an account!</p>
