<div id='map' userId="{{userId}}"> </div>
<div id='user_container'>
  {{#users}}
    <div id="{{id}}" class="user pointerCursor" location="{{location}}" image="{{image}}">
      <div class="name">
        <p>{{first_name}} {{last_name}}</p>
      </div>
      <div class="email pointerCursor">
        <p>{{email}}</p>
      </div>
    </div> 
  {{/users}}
</div>
<div id='infobox' hidden>
  {{#users}}
    <div id='{{id}}_infobox'> 
      <div class="infobox">
        <img class='avatar' src="{{image}}"/>
        <div class='name'><p>Name: {{first_name}} {{last_name}}</p></div>
        <div class='email'><p>Email: <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{email}}&tf=1">{{email}}</a></p></div>
        {{#company}}
          {{#position}}
            <div class='company'><p>Working At: {{company}} as {{position}}</p></div>
          {{/position}}
        {{/company}}
        {{#address}}
          <div class='address'><p>Address: {{address}}</p></div>
        {{/address}}
        {{#url}}
          <div class='url'><p>Website: {{url}}</p></div>
        {{/url}}
        {{#fax}}
          <div class='fax'><p>Fax: {{fax}}</p></div>
        {{/fax}}
        {{#phone}}
          <div class='phone'><p>Phonenumber: {{phone}}</p></div>
        {{/phone}}
        {{#description}}
          <div class='description'><p>About: {{description}}</p></div>
        {{/description}}
      </div>
    </div>
  {{/users}}
</div>
