body {
  background-color: rgb(180, 10, 10);
	margin: auto;
  height: 100%;
  width: 80%;
	font-family: helvetica;
}

input {
  font-size: 35px;
}

p, h1 {
  width: 100%;
  text-align: center;
}

h1, h2, p, button {
  color: white;
}

.pointerCursor:hover {
	cursor: pointer;
}

p {
  margin: 0;
}

input, button, textarea {
  border: none;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
}

input, button {
  height: 40px; 
}

button {
  background-color: #462555;
}

button:hover {
  background-color: #680088;
     -webkit-transition: background-color 1000ms linear;
     -moz-transition: background-color 1000ms linear;
     -o-transition: background-color 1000ms linear;
     -ms-transition: background-color 1000ms linear;
     transition: background-color 1000ms linear;
}

.tinytext {
  font-size: 10px;
}

.default {
  color : gray;
}

.max_width, .half_width {
  float: left;
}

.full_width {
  width: 99%;
  max-width: 99%;
  margin-left: 1%;
}

.half_width {
  width: 49%;
  margin-left: 1%;
  max-width: 49%;
}
