#main_site {
  padding: 5%;
  position: relative;
}

#logo {
  background-image: url("/static/img/shake.png");
  background-size: 100% 100%;
  width: 420px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
