body {
  background-color: rgb(180, 10, 10);
	margin: auto;
	font-family: helvetica;
}

input {
  font-size: 18px;
}

h1, h2, p, button, a{
  color: white;
}
p {
  margin: 0;
}

input, button {
  border: none;
  height: 50px; 
  width: 80%;
  border-radius: 5px;
  margin-top: 2%;
  padding-left: .5em;
  margin-bottom: .5%;
}

button {
  background-color: #462555;
}

.tinytext {
  font-size: 10px;
}

.default {
  color : gray;
}

#name{
	margin-top:1em;
	margin-bottom:1em;
}

@media only screen
	and (min-width : 320px)
	and (max-width : 480px) {
	
	body{
		padding-top:1em;
		width:auto;
		text-align: center;
	}
	
	#logo{
		text-align:center;
	}
	
	#logo img{
		max-width: 50%;
	}
	
	}